* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 1rem;
  text-align: center;
}

.top {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.list {
  justify-content: center;
  display: flex;
}

input {
  border: none;
  outline: none;
  width: 400px;
  padding: 0 0.5rem;
  border-bottom: 1px solid #ec8f8f;
}

.add {
  background-color: black;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.todo {
  position: relative;
  margin-top: 1rem;
  background-color: black;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  right: 2px;
  display: flex;
  gap: 0.5rem;
  transform: translateY(-50%);
}

.icon {
  cursor: pointer;
  font-size: 20px;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


